<div class="counter-like">
    <p class=" counter-like__number-likes">
        <span class="number-like">{{numberLikes}}</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="21" viewBox="0 0 20 20" >
            <title>like</title>
            <path fill="currentColor" fill-rule="evenodd" class="number-likes__icone"
                d="M3.172 5.172a4 4 0 0 1 5.656 0L10 6.343l1.172-1.171a4 4 0 1 1 5.656 5.656L10 17.657l-6.828-6.829a4 4 0 0 1 0-5.656"
                clip-rule="evenodd" />
        </svg>
    </p>

    <p class=" counter-like__price-photographer">
        <span class="price-photographer">{{price}}</span>€ / jour
    </p>
</div>